.column-table {
  margin: auto;
}

.column-table td {
  border: transparent;
  vertical-align: middle;
}

.color-box {
  width: 15px;
  height: 15px;
}

.attach_icon {
  font-size: 60px;
}

.error{
  color:red;
}

.accordion .card-title,.accordion .card-header-actions{
  color:white;
}

.select2-selection__choice{
  background-color: #007bff!important;
}
